{% extends 'offline_nav.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
 
    
      <div class="content1">
        <section class="carousel">
          <div class="carousel-track-container">
            <div class="carousel-track">
              <!-- Slide 1 -->
              <div class="carousel-slide">
                <img src="{% static 'images/rice yellow.jpg' %}" alt="Rice Yellow Field">
              </div>
        
              <!-- Slide 2 -->
              <div class="carousel-slide">
                <img src="{% static 'images/maize.jpg' %}" alt="Maize Crop">
              </div>
        
              <!-- Slide 3 -->
              <div class="carousel-slide">
                <img src="{% static 'images/rice crop.jpg' %}" alt="Rice Crop Field">
              </div>
            </div>
          </div>
        
          <!-- Navigation Buttons -->
          <button class="carousel-button left">&#10094;</button>
          <button class="carousel-button right">&#10095;</button>
        </section>
        
    

      <script src="{% static 'js/index.js' %}"></script>
      
      <!-- Menu section -->
      <section class=" gallery-section" id="menu">
        <h2 class="section-title">Our Menu</h2>
        <div class="section-content">
          <ul class="menu-list">
            <li class="menu-item">
              <img src="{% static 'images/4methods.jpg' %}" alt="Hot Beverages" class="menu-image" />
              
            </li>
          
          </ul>
        </div>
      </section>
      
      
      <!-- About section -->
      <section class="about-section" id="about">
        <div class="section-content">
          <div class="about-image-wrapper">
            <img src="{% static 'images/green_leaves_round_logo.jpg' %}" alt="About" class="about-image" />
          </div>
          <div class="about-details">
            <h2 class="section-title">About Us</h2>
            <p class="text">At Coffee House in Berndorf, Germany, we pride ourselves on being a go-to destination for coffee lovers and conversation seekers alike. We're dedicated to providing an exceptional coffee experience in a cozy and inviting atmosphere, where guests can relax, unwind, and enjoy their time in comfort.</p>
            
          </div>
        </div>
      </section>
      <!-- Testimonials section -->
      <!-- <section class="testimonials-section" id="testimonials">
        <h2 class="section-title">Testimonials</h2>
        <div class="section-content">
          <div class="slider-container swiper">
            <div class="slider-wrapper">
              <ul class="testimonials-list swiper-wrapper">
                <li class="testimonial swiper-slide">
                  <img src="images/user-1.jpg" alt="User" class="user-image" />
                  <h3 class="name">Sarah Johnson</h3>
                  <i class="feedback">"Loved the French roast. Perfectly balanced and rich. Will order again!"</i>
                </li>
                <li class="testimonial swiper-slide">
                  <img src="images/user-2.jpg" alt="User" class="user-image" />
                  <h3 class="name">James Wilson</h3>
                  <i class="feedback">"Great espresso blend! Smooth and bold flavor. Fast shipping too!"</i>
                </li>
                <li class="testimonial swiper-slide">
                  <img src="images/user-3.jpg" alt="User" class="user-image" />
                  <h3 class="name">Michael Brown</h3>
                  <i class="feedback">"Fantastic mocha flavor. Fresh and aromatic. Quick shipping!"</i>
                </li>
                <li class="testimonial swiper-slide">
                  <img src="images/user-4.jpg" alt="User" class="user-image" />
                  <h3 class="name">Emily Harris</h3>
                  <i class="feedback">"Excellent quality! Fresh beans and quick delivery. Highly recommend."</i>
                </li>
                <li class="testimonial swiper-slide">
                  <img src="images/user-5.jpg" alt="User" class="user-image" />
                  <h3 class="name">Anthony Thompson</h3>
                  <i class="feedback">"Best decaf I've tried! Smooth and flavorful. Arrived promptly."</i>
                </li>
              </ul>
              <div class="swiper-pagination"></div>
              <div class="swiper-slide-button swiper-button-prev"></div>
              <div class="swiper-slide-button swiper-button-next"></div>
            </div>
          </div>
        </div>
      </section>
      Gallery section -->
       <section class="menu-section" id="gallery">
        <h2 class="section-title">Contact Us</h2>
        <div class="section-content">
          <ul class="contact-info-list">
            <li class="contact-info">
              <i class="fa-solid fa-location-crosshairs"></i>
              <li>Plot No. 685 & 686, Street No. 12, Narasimha Swamy Colony,
                Nagole, Hyderabad – 500 068, Telangana, India</li>
              <li>Tel No: +91 (40) 29555295</li>
              <li>Mail: mail@wassan.org</li>
            </li>      
            <div class="social-link-list">
              <a href="#" class="social-link"><i class="fa-brands fa-facebook"></i></a>
              <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
              <a href="#" class="social-link"><i class="fa-brands fa-x-twitter"></i></a>
            </div>           
          </ul>
        </div>
      </section>
    </div>    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}


  </html>
  
        
        
{% endblock %}