
{% load static %}
<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Jalodhari</title>
      <link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- this is for nav_events.html links -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/nav_events.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">

      <!-- Bootstrap Icons -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="{% static 'js/nav_events.js' %}" defer></script>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
      <nav>
         
        <div  class="logo">
            Jalodhari
        </div>
         <label for="btn" class="icon">
         <span class="fa fa-bars"></span>
         </label>
         <input type="checkbox" id="btn">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>
               <label for="btn-1" class="show">Gallery +</label>
               <a href="{% url 'nav_gallery' %}">Gallery</a>
               <input type="checkbox" id="btn-1">
               <ul>
                  <li><a href="{% url 'nav_gallery' %}">Photos</a></li>
                  <li><a href="{% url 'nav_gallery' %}">Videos</a></li>
                  <li><a href="{% url 'nav_gallery' %}">Media</a></li>
               </ul>
            </li>
            <li>
               <label for="btn-2" class="show">Events +</label>
               <a href="{% url 'nav_events' %}">Events</a>
               <input type="checkbox" id="btn-2">
               <ul>
                  <li><a href="{% url 'nav_events' %}">Meetings</a></li>
                  <li><a href="{% url 'nav_events' %}">Trainings</a></li>
                  <li>
                     <label for="btn-3" class="show">More +</label>
                     <a href="#">More <span class="fa fa-plus"></span></a>
                     <input type="checkbox" id="btn-3">
                     <ul>
                        <li><a href="{% url 'nav_events' %}">Exposure_Visit</a></li>
                        <li><a href="{% url 'nav_events' %}">Workshop</a></li>
                        <li><a href="{% url 'nav_events' %}">Demonstration</a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            
            <li><a href="#gallery">Contact</a></li>
            <li><a href="#about">About Us</a></li>

            
            
            <li>
               {% if not user.is_authenticated %}
               <a href="{% url 'login' %}">Login</a>


               {% else %}
                
                <label for="btn-4" class="show">👤{% if user.is_authenticated %} {{ user.username }} {% else %} Login {% endif %}</label>
                 <a>👤{% if user.is_authenticated %} {{ user.username }} {% else %} Login {% endif %}</a>
                 <input type="checkbox" id="btn-4">
                 <ul>
                    
                        <li><a href="{% url 'home' %}">Dashboard</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
               {% endif %}
                </ul>                    
             </li>

            
         </ul>
      </nav>
      
      
       <!-- add this div funtion for events gallry of navbars -->
    <!-- <div class="content"> -->
        {% block content %}

        {% endblock %}
        
     <!-- </div> -->
    
        
        <script>
            $('.icon').click(function(){
              $('span').toggleClass("cancel");
            });
         </script>
   </body>
</html>
