body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  #sidebar {
    width: 250px;
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #sidebar.minimized {
    width: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #map {
    flex-grow: 1;
    height: 100%;
  }
  
  #sidebarTitle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .checkbox-list {
    display: none;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
  }
  
  .checkbox-list label {
    display: block;
    margin-bottom: 6px;
  }

  
  button1 {
    margin-bottom: 8px;
    padding: 6px 10px;
    cursor: pointer;
    border: 1px solid #aaa;
    background-color: #eee;
    width: 30px;
    margin: 10px 3px 10px 200px;
  }

  button {
    margin-bottom: 8px;
    padding: 6px 10px;
    cursor: pointer;
    border: 1px solid #aaa;
    background-color: #eee;
  }
  
  #restoreSidebar {
    position: absolute;
    top: 75px;
    left: 10px;
    
    z-index: 1000;
    display: none;
    background: #f5f5f5;
  }
  